@media (max-width:960px) {

    body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    }
    
    :root {
    --Violeta-Principal: #6A2771;
    --Violeta-Brillante-Secundario: #C45ECF;
    --Violeta-Oscuro-Secundario: #3B1140;
    --Amarillo-Secundario: #F58020;
    --Amarillo-Brillante-Secundario: #F0A363;
    --Amarillo-Oscuro-Secundario: #C86717;
    --Blanco: #fff;
    --Negro-Texto: #414141;
    --Gris-Secundario: #E4E4E4;
    --Gradiente-Violeta: linear-gradient(90deg, #C45ECF, #3B1140);
    --Gradiente-Violeta-90: linear-gradient(-90deg, #C45ECF, #3B1140);
    --Gradiente-Vio-Ama: linear-gradient(61deg,rgba(106, 39, 113, 1) 0%, rgba(196, 94, 207, 1) 50%, rgba(245, 128, 32, 1) 100%);
    }


    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }


    nav.navegador {
        display: flex;
        position: fixed;
        z-index: 9999;
        height: 10vh;
        width: 100%;
        padding: 1rem 1.5rem .5rem;
        justify-content: space-between;
        background-color: var(--Blanco);
    }
    nav.navegador img {
        height: 100%;
        width: auto;
    }


    .hero h1 {
        width: 90%;
        padding: 1rem 1rem 4rem;
        background-color: transparent;
        background: linear-gradient(rgba(244, 244, 244, 0.3), rgba(242, 242, 242, 1));
    }

    .epigrafe h6 {
        margin-left: 0;
    }

    .video-portada {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: 100%;
        z-index: -1;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .experiencia {
        padding: 2rem 0rem 2rem;
    }

    .experiencia h3 {
        font-size: 1rem;
        letter-spacing: -.75px;
        color: var(--Violeta-Oscuro-Secundario);
        text-transform: uppercase;
        text-align: center;
        padding: 0rem 2rem 1rem;
    }

    .datos {
        padding: 0rem 1rem 0rem 1rem;
        overflow: scroll;
    }








    .bg-mision {
        height: fit-content;
    }

    .services {
        padding: 0rem;
    }

    .services h1 {
        padding-left: 2rem;
    }

    .card {
        width: 100%;
        overflow: hidden;
    }

    .card div {
        backdrop-filter: blur(2px);
        background-color: rgb(228, 228, 228, .25);
    }

    .card-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }

    #section-servicies {
        padding: 3rem .5rem 1rem;
    }

    .card-service img {
        height: 15vh;
        opacity: 1;
    }

    .card-service p {
        font-size: .75rem;
    }
    .card-service h3 {
        line-height: 95%;
    }

    .card-service div {
        gap: .35rem;
        padding: .85rem .5rem;
    }

    .card-service a.mobile {
        display: block;
        opacity: 1;
        position: relative;
        top: 0%;
        left: 0%;
        text-align: center;
        font-weight: 600;
        font-size: .97rem;
        padding: .85rem 1.85rem;
        /* margin-bottom: .5rem; */
        border-radius: 5px;
        text-decoration: none;
        color: var(--Violeta-Brillante-Secundario);
        background-color: var(--Violeta-Principal);
        transition: opacity .3s ease-out;
    }

    .cards-mis-vis {
        flex-direction: column;
    }

    .card-info {
        padding: .65rem;
    }

    #colaboraciones h2 {
        padding: 0rem 2rem;
    }

    .clientes {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        height: 100%;
        padding: 1rem;
    }

    .clientes img {
        min-height: 10vh;
        max-width: 70%;
    }


    #form{
        padding: 3rem .5rem;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0rem;
        gap: 0px;
        background: linear-gradient(var(--Violeta-Brillante-Secundario), var(--Violeta-Oscuro-Secundario));
    }

    .formulario img {
        height: max-content;
        max-width: 100%;
    }

    .info-gral {
        padding: .95rem;
    }

    .asesoramiento-desk {
        display: none;
    }

    .asesoramiento-mobile {
    width: 20vw;
    aspect-ratio: 1 / 1;
    position: fixed;
    display: flex;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    }

    .asesoramiento-mobile a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        /* padding: 1rem; */
        color: #fff;
        background: linear-gradient(-40deg, #54cc30, #7af156);
    }

    .asesoramiento-mobile a i {
        font-size: 10vw;
    }

    .asesoramiento-mobile p span {
    font-style: italic;
    font-weight: 700;
    }


    
    
    .navegador-desktop {
        display: none;
    }
}




@media (max-width: 480px) {
    form p.enviar {
        justify-content: start;
        flex-direction: column;
        gap: 1rem;
    }

    footer > div {
        flex-direction: column;
    }
    footer > img {
        width: auto;
        height: auto;
    }

    .card-group {
        grid-template-columns: repeat(1, 1fr);
    }

    .bg-mision .redes-s {
        flex-direction: column;
    }

    .bg-mision h2 {
        font-size: 4.5vh;
        letter-spacing: -.3px;
        line-height: 4.5vh;
    }

    .card {
        border: none;
        flex-direction: column;
    }

    .card-info {
        border-left: none;
    }

    .card i:before {
        background-color: var(--Gris-Secundario);
        border-bottom: none;
    }

    .navegador-desktop {
        display: none;
    }
}